.storyGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.App-navbar{
  background-color: red;
  color: white;
  height: 150px;
}
.App-nabar-heading{
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 426px) {
  .storyGrid{
    grid-template-columns: 1fr;
    padding: 5px 10px;
  }
  .App-nabar-heading{
    font-size: 2em;
  }
}